<div class="py-4">
    <span class="text-3xl">Buscador</span>
</div>
<hr>
<div class="py-4 flex items-center relative">
    <span class="fa-solid fa-magnifying-glass absolute pl-4 text-neutral-400"></span>
    <input  type="text" 
            class="w-full border-2 border-neutral-400 hover:border-fuchsia-800 rounded-full px-10 py-2" 
            placeholder="Buscar..." 
            (keyup.enter)="onSearch(searchTerm.value)" 
            #searchTerm
    />
</div>
<div class="py-4">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <!-- @for(group of gifServices.searchGifsGroup(); track group){ -->
        @for(url of gifSearchList(); track url){

            <!-- <gif-list [images]="group"></gif-list> -->
            <gif-list-item [imageUrl]="url.image"></gif-list-item>

        }
    </div>
</div>