@for(item of menuItems; track item){
    <a [routerLink]="item.route" routerLinkActive="bg-fuchsia-900" class="text-white px-2 py-2 mb-2 text-base block rounded-md">
        <span [class]="item.icon" class="text-white mr-2"></span>
        {{item.itemName}}
    </a>
}

<hr class="text-neutral-500 my-4">
<span class="text-sm text-neutral-400">Búsquedas recientes</span>

@for(item of getRecentSearchs(); track item){
    <a [routerLink]="['/dashboard/historial',item]" routerLinkActive="bg-fuchsia-900" class="text-white px-2 py-2 mb-2 text-base block rounded-md">
        <span [class]="'fa-solid fa-clock-rotate-left'" class="text-white mr-2"></span>
        {{item}}
    </a>
}